@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* vars */
$bg-color: #464EFF;
$box-color: #B892FF;

$text-light-color: #fff;
$text-hover-color: #FFC2E2;

.um {
  opacity: 1 !important;
}

.arabe-text {
    text-align: right;
}

.topbar {
    background-color: #000;

    .container {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: #fff;
    }
}

header {
    background-color: $bg-color;
    
    .navbar-dark .navbar-nav .nav-link {
        color: $text-light-color;
    }

    .navbar-brand {
        color: $text-light-color !important;
    }

    .navbar-brand:hover {
        color: $text-hover-color !important;
    }

}

.search-form {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    justify-content: center;

    .form-control {
        width: 74%;
        margin: 0 1%;
    }

    .btn {
        width: 24%;
    }
}

main {
    min-height: 70vh;
    background-color: RGBA(238,238,238,0.59);
    padding-top: 20px;
}

.box {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $box-color;
    
    a {
        color: $text-light-color;
    }
}

.card-img-top {
    height: 200px;
}

.single-building {
    h2 {
        text-transform: capitalize;
    }

    .photo-date {
        font-size: 3rem;
    }

    .sidebar {
        border-left: 1px solid #eee;
    }
}

.search-result {
    img {
        max-height: 200px;
    }
}

footer {
    background-color: $bg-color;
}